# Porto Seguro’s Safe Driver Prediction
- Predict if a driver will file an insurance claim next year.
- https://www.kaggle.com/c/porto-seguro-safe-driver-prediction/data
- install: http://jupyter-contrib-nbextensions.readthedocs.io/en/latest/install.html
- install: https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator

# Credit to:
* https://www.kaggle.com/arthurtok/interactive-porto-insights-a-plot-ly-tutorial
* https://www.kaggle.com/anokas/simple-xgboost-btb-0-27
* https://www.kaggle.com/rshally/porto-xgb-lgb-kfold-lb-0-282
* https://www.kaggle.com/akashdeepjassal/simple-keras-mlp/code
* https://www.kaggle.com/pnagel/keras-starter/code
* https://datascience.stackexchange.com/questions/13490/how-to-set-class-weights-for-imbalanced-classes-in-keras

# Library import

In [3]:
# data processing
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# ML
# # Scikit-learn
from sklearn.model_selection import cross_val_score, train_test_split, learning_curve, validation_curve, KFold
from sklearn.utils import class_weight
from sklearn.preprocessing import LabelBinarizer, StandardScaler

# LightGBM
from lightgbm import LGBMClassifier, LGBMRegressor

# Keras
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.wrappers.scikit_learn import KerasRegressor
from keras.optimizers import SGD, Adam
from keras.utils import np_utils

# System
import datetime as dtime

# Load data

In [4]:
pd.options.display.float_format = '{:,.4f}'.format
# Input data files are available in the DATA_DIR directory.
DATA_DIR = "data-temp"
# Load data. Download from:https://www.kaggle.com/c/nyc-taxi-trip-duration/data
train_data = pd.read_csv(DATA_DIR + "/train.csv")
eval_data =  pd.read_csv(DATA_DIR + "/test.csv")

In [4]:
print("train size:", train_data.shape, " test size:", eval_data.shape)

train size: (595212, 59)  test size: (892816, 58)

In [5]:
train_data.head(5)

,id,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,7,0,2,2,5,1,0,0,1,0,...,9,1,5,8,0,1,1,0,0,1
1,9,0,1,1,7,0,0,0,0,1,...,3,1,1,9,0,1,1,0,1,0
2,13,0,5,4,9,1,0,0,0,1,...,4,2,7,7,0,1,1,0,1,0
3,16,0,0,1,2,0,0,1,0,0,...,2,2,4,9,0,0,0,0,0,0
4,17,0,0,2,0,1,0,1,0,0,...,3,1,1,3,0,0,0,1,1,0

In [6]:
eval_data.head(5)

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,0,0,1,8,1,0,0,1,0,0,...,1,1,1,12,0,1,1,0,0,1
1,1,4,2,5,1,0,0,0,0,1,...,2,0,3,10,0,0,1,1,0,1
2,2,5,1,3,0,0,0,0,0,1,...,4,0,2,4,0,0,0,0,0,0
3,3,0,1,6,0,0,1,0,0,0,...,5,1,0,5,1,0,1,0,0,0
4,4,5,1,7,0,0,0,0,0,1,...,4,0,0,4,0,1,1,0,0,1

In [8]:
diff_cols = np.setdiff1d(train_data.columns.values, eval_data.columns.values)
diff_cols

array(['target'], dtype=object)

## Combine train data and eval data

In [5]:
label = 'target'
features = eval_data.columns.values
target = train_data[label]
combine_data = pd.concat([train_data[features], eval_data], keys=['train','eval'])
print("combine data:", len(combine_data))
combine_data.head(5)

combine data: 1488028

         id  ps_ind_01  ps_ind_02_cat  ps_ind_03  ps_ind_04_cat  \
train 0   7          2              2          5              1
      1   9          1              1          7              0
      2  13          5              4          9              1
      3  16          0              1          2              0
      4  17          0              2          0              1

         ps_ind_05_cat  ps_ind_06_bin  ps_ind_07_bin  ps_ind_08_bin  \
train 0              0              0              1              0
      1              0              0              0              1
      2              0              0              0              1
      3              0              1              0              0
      4              0              1              0              0

         ps_ind_09_bin       ...        ps_calc_11  ps_calc_12  ps_calc_13  \
train 0              0       ...                 9           1           5
      1              0       ...                 3           1           1
      2              0       ...                 4           2           7
      3              0       ...                 2           2           4
      4              0       ...                 3           1           1

         ps_calc_14  ps_calc_15_bin  ps_calc_16_bin  ps_calc_17_bin  \
train 0           8               0               1               1
      1           9               0               1               1
      2           7               0               1               1
      3           9               0               0               0
      4           3               0               0               0

         ps_calc_18_bin  ps_calc_19_bin  ps_calc_20_bin
train 0               0               0               1
      1               0               1               0
      2               0               1               0
      3               0               0               0
      4               1               1               0

[5 rows x 58 columns]

# Pre-process data

## Check& Fill  NaN

In [11]:
def check_null_data(data):
    #Get high percent of NaN data
    null_data = data.isnull()
    total = null_data.sum().sort_values(ascending=False)
    percent = (null_data.sum()/null_data.count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    high_percent_miss_data = missing_data[missing_data['Percent']>0]
    #print(missing_data)
    print(high_percent_miss_data)
    miss_data_cols = high_percent_miss_data.index.values
    return miss_data_cols

In [12]:
# combine data for null
check_null_data(combine_data)

Empty DataFrame
Columns: [Total, Percent]
Index: []

array([], dtype=object)

## Split train_set and eval_set

In [6]:
data = combine_data
train_set = data.loc['train']
eval_set = data.loc['eval']
data = train_set
data.loc[:,label] = target
data[:5]

/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.5/dist-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,id,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin,target
0,7,2,2,5,1,0,0,1,0,0,...,1,5,8,0,1,1,0,0,1,0
1,9,1,1,7,0,0,0,0,1,0,...,1,1,9,0,1,1,0,1,0,0
2,13,5,4,9,1,0,0,0,1,0,...,2,7,7,0,1,1,0,1,0,0
3,16,0,1,2,0,0,1,0,0,0,...,2,4,9,0,0,0,0,0,0,0
4,17,0,2,0,1,0,1,0,0,0,...,1,1,3,0,0,0,1,1,0,0

# Train model

In [7]:
data = train_set.drop(['id', label], axis=1)
print(data.shape)
data[:5]

(595212, 57)

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
0,2,2,5,1,0,0,1,0,0,0,...,9,1,5,8,0,1,1,0,0,1
1,1,1,7,0,0,0,0,1,0,0,...,3,1,1,9,0,1,1,0,1,0
2,5,4,9,1,0,0,0,1,0,0,...,4,2,7,7,0,1,1,0,1,0
3,0,1,2,0,0,1,0,0,0,0,...,2,2,4,9,0,0,0,0,0,0
4,0,2,0,1,0,1,0,0,0,0,...,3,1,1,3,0,0,0,1,1,0

## Compute class weigth for unbalanced labels
* credit to: https://datascience.stackexchange.com/questions/13490/how-to-set-class-weights-for-imbalanced-classes-in-keras

In [8]:
cw = class_weight.compute_class_weight('balanced', np.unique(target), target)
class_weight_dict = dict(enumerate(cw))
class_weight_dict

{0: 0.51891309427079879, 1: 13.718355305614455}

## Split train/test set

In [9]:
X_train, X_test, Y_train, Y_test = train_test_split(
    data, target, train_size=0.85, random_state=1234)
print("X_train:", X_train.shape, " Y_train:", Y_train.shape,
      " X_test:", X_test.shape, " Y_test:", Y_test.shape)
X_train[:5]

/usr/local/lib/python3.5/dist-packages/sklearn/model_selection/_split.py:2010: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

X_train: (505930, 57)  Y_train: (505930,)  X_test: (89282, 57)  Y_test: (89282,)

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
265838,2,4,9,1,0,0,1,0,0,0,...,3,0,5,6,0,0,1,0,0,0
125350,5,2,8,1,0,0,1,0,0,0,...,3,3,2,4,0,1,0,0,0,0
37522,0,1,4,1,0,0,0,0,1,0,...,6,3,4,10,0,0,0,1,0,0
467358,0,1,6,0,4,1,0,0,0,0,...,3,1,1,10,0,0,1,0,0,0
171996,0,1,7,0,0,1,0,0,0,0,...,4,1,3,5,0,1,1,0,1,1

## Eval metrics

In [10]:
# custom objective function (similar to auc)

def gini(y, pred):
    g = np.asarray(np.c_[y, pred, np.arange(len(y)) ], dtype=np.float)
    g = g[np.lexsort((g[:,2], -1*g[:,1]))]
    gs = g[:,0].cumsum().sum() / g[:,0].sum()
    gs -= (len(y) + 1) / 2.
    return gs / len(y)

def gini_normalized(y, pred):
    return gini(y, pred) / gini(y, y)

def gini_xgb(y, pred):
    return 'gini', gini(y, pred) / gini(y, y)

def gini_lgb(y, pred):
    score = gini(y, pred)/ gini(y,y)
    #score = gini(y, pred)
    return 'gini', score, True

## Model definition

In [12]:
params = {'metric': 'auc', 
          'learning_rate': 0.1, 
          'max_depth': 10, 
          'max_bin': 10,  
          'objective': 'binary',
          'feature_fraction': 0.8,
          'bagging_fraction': 0.9,
          'bagging_freq': 10,
          'min_data': 500}
N_ROUNDS = 4000
#LGBMClassifier
model = LGBMRegressor(objective='binary',
                       metric='auc',
                       n_estimators=N_ROUNDS,
                       learning_rate=0.01,
                       max_depth=10,
                       num_leaves=31,
                       random_state=12345,
                       max_bin=63,
                       n_jobs=-1, 
                       device='gpu',
                       silent=False)

## Training data

In [13]:
early_stopping_rounds=50
model.fit(
                X_train, Y_train, eval_set=[(X_test, Y_test)],
                eval_metric=gini_lgb,
                early_stopping_rounds=early_stopping_rounds,
                verbose=10,
            )

Training until validation scores don't improve for 50 rounds.
[10]	valid_0's auc: 0.622392	valid_0's gini: 0.244731
[20]	valid_0's auc: 0.624501	valid_0's gini: 0.248999
[30]	valid_0's auc: 0.62495	valid_0's gini: 0.249875
[40]	valid_0's auc: 0.625518	valid_0's gini: 0.251046
[50]	valid_0's auc: 0.626465	valid_0's gini: 0.252941
[60]	valid_0's auc: 0.626828	valid_0's gini: 0.253658
[70]	valid_0's auc: 0.62846	valid_0's gini: 0.256923
[80]	valid_0's auc: 0.629704	valid_0's gini: 0.25941
[90]	valid_0's auc: 0.630435	valid_0's gini: 0.26087
[100]	valid_0's auc: 0.630894	valid_0's gini: 0.261782
[110]	valid_0's auc: 0.631537	valid_0's gini: 0.263075
[120]	valid_0's auc: 0.632129	valid_0's gini: 0.264258
[130]	valid_0's auc: 0.632697	valid_0's gini: 0.265394
[140]	valid_0's auc: 0.633476	valid_0's gini: 0.266951
[150]	valid_0's auc: 0.634077	valid_0's gini: 0.268154
[160]	valid_0's auc: 0.634566	valid_0's gini: 0.269131
[170]	valid_0's auc: 0.634841	valid_0's gini: 0.269682
[180]	valid_0's auc: 0.635251	valid_0's gini: 0.270502
[190]	valid_0's auc: 0.635439	valid_0's gini: 0.270877
[200]	valid_0's auc: 0.635654	valid_0's gini: 0.271308
[210]	valid_0's auc: 0.635949	valid_0's gini: 0.271898
[220]	valid_0's auc: 0.636213	valid_0's gini: 0.272426
[230]	valid_0's auc: 0.636575	valid_0's gini: 0.27315
[240]	valid_0's auc: 0.636894	valid_0's gini: 0.273788
[250]	valid_0's auc: 0.637271	valid_0's gini: 0.274542
[260]	valid_0's auc: 0.637525	valid_0's gini: 0.275049
[270]	valid_0's auc: 0.637741	valid_0's gini: 0.275481
[280]	valid_0's auc: 0.637863	valid_0's gini: 0.275725
[290]	valid_0's auc: 0.638011	valid_0's gini: 0.276023
[300]	valid_0's auc: 0.638305	valid_0's gini: 0.27661
[310]	valid_0's auc: 0.638326	valid_0's gini: 0.276651
[320]	valid_0's auc: 0.638474	valid_0's gini: 0.276948
[330]	valid_0's auc: 0.638548	valid_0's gini: 0.277097
[340]	valid_0's auc: 0.638647	valid_0's gini: 0.277293
[350]	valid_0's auc: 0.638718	valid_0's gini: 0.277436
[360]	valid_0's auc: 0.638768	valid_0's gini: 0.277536
[370]	valid_0's auc: 0.638889	valid_0's gini: 0.277779
[380]	valid_0's auc: 0.638995	valid_0's gini: 0.27799
[390]	valid_0's auc: 0.639091	valid_0's gini: 0.278181
[400]	valid_0's auc: 0.639181	valid_0's gini: 0.278361
[410]	valid_0's auc: 0.639198	valid_0's gini: 0.278396
[420]	valid_0's auc: 0.639292	valid_0's gini: 0.278584
[430]	valid_0's auc: 0.639378	valid_0's gini: 0.278756
[440]	valid_0's auc: 0.639437	valid_0's gini: 0.278875
[450]	valid_0's auc: 0.639571	valid_0's gini: 0.279141
[460]	valid_0's auc: 0.639706	valid_0's gini: 0.279411
[470]	valid_0's auc: 0.639745	valid_0's gini: 0.279489
[480]	valid_0's auc: 0.639891	valid_0's gini: 0.279782
[490]	valid_0's auc: 0.639999	valid_0's gini: 0.279998
[500]	valid_0's auc: 0.640043	valid_0's gini: 0.280086
[510]	valid_0's auc: 0.640123	valid_0's gini: 0.280246
[520]	valid_0's auc: 0.640226	valid_0's gini: 0.280452
[530]	valid_0's auc: 0.640204	valid_0's gini: 0.280409
[540]	valid_0's auc: 0.640321	valid_0's gini: 0.280641
[550]	valid_0's auc: 0.640413	valid_0's gini: 0.280826
[560]	valid_0's auc: 0.640577	valid_0's gini: 0.281154
[570]	valid_0's auc: 0.640594	valid_0's gini: 0.281187
[580]	valid_0's auc: 0.640759	valid_0's gini: 0.281518
[590]	valid_0's auc: 0.640751	valid_0's gini: 0.281501
[600]	valid_0's auc: 0.640905	valid_0's gini: 0.281809
[610]	valid_0's auc: 0.640965	valid_0's gini: 0.281929
[620]	valid_0's auc: 0.641019	valid_0's gini: 0.282038
[630]	valid_0's auc: 0.641112	valid_0's gini: 0.282225
[640]	valid_0's auc: 0.641125	valid_0's gini: 0.282249
[650]	valid_0's auc: 0.641242	valid_0's gini: 0.282484
[660]	valid_0's auc: 0.641336	valid_0's gini: 0.282672
[670]	valid_0's auc: 0.641413	valid_0's gini: 0.282827
[680]	valid_0's auc: 0.64145	valid_0's gini: 0.282899
[690]	valid_0's auc: 0.641517	valid_0's gini: 0.283035
[700]	valid_0's auc: 0.641572	valid_0's gini: 0.283145
[710]	valid_0's auc: 0.641582	valid_0's gini: 0.283164
[720]	valid_0's auc: 0.641611	valid_0's gini: 0.283222
[730]	valid_0's auc: 0.641614	valid_0's gini: 0.283227
[740]	valid_0's auc: 0.641647	valid_0's gini: 0.283293
[750]	valid_0's auc: 0.641696	valid_0's gini: 0.283391
[760]	valid_0's auc: 0.641727	valid_0's gini: 0.283454
[770]	valid_0's auc: 0.641716	valid_0's gini: 0.283432
[780]	valid_0's auc: 0.641817	valid_0's gini: 0.283634
[790]	valid_0's auc: 0.641796	valid_0's gini: 0.283593
[800]	valid_0's auc: 0.641832	valid_0's gini: 0.283664
[810]	valid_0's auc: 0.641809	valid_0's gini: 0.283618
[820]	valid_0's auc: 0.641828	valid_0's gini: 0.283657
[830]	valid_0's auc: 0.641885	valid_0's gini: 0.28377
[840]	valid_0's auc: 0.64189	valid_0's gini: 0.28378
[850]	valid_0's auc: 0.641893	valid_0's gini: 0.283785
[860]	valid_0's auc: 0.641879	valid_0's gini: 0.283757
[870]	valid_0's auc: 0.64186	valid_0's gini: 0.283721
[880]	valid_0's auc: 0.641856	valid_0's gini: 0.283712
[890]	valid_0's auc: 0.641869	valid_0's gini: 0.283739
[900]	valid_0's auc: 0.641948	valid_0's gini: 0.283896
[910]	valid_0's auc: 0.641978	valid_0's gini: 0.283955
[920]	valid_0's auc: 0.641989	valid_0's gini: 0.283977
[930]	valid_0's auc: 0.642022	valid_0's gini: 0.284044
[940]	valid_0's auc: 0.642012	valid_0's gini: 0.284023
[950]	valid_0's auc: 0.641995	valid_0's gini: 0.283989
[960]	valid_0's auc: 0.642055	valid_0's gini: 0.284111
[970]	valid_0's auc: 0.642028	valid_0's gini: 0.284056
[980]	valid_0's auc: 0.642025	valid_0's gini: 0.284049
[990]	valid_0's auc: 0.64206	valid_0's gini: 0.284121
[1000]	valid_0's auc: 0.642054	valid_0's gini: 0.284108
[1010]	valid_0's auc: 0.642036	valid_0's gini: 0.284072
[1020]	valid_0's auc: 0.64208	valid_0's gini: 0.284159
[1030]	valid_0's auc: 0.642062	valid_0's gini: 0.284124
[1040]	valid_0's auc: 0.641992	valid_0's gini: 0.283984
[1050]	valid_0's auc: 0.641955	valid_0's gini: 0.283911
[1060]	valid_0's auc: 0.642001	valid_0's gini: 0.284002
[1070]	valid_0's auc: 0.64201	valid_0's gini: 0.284021
Early stopping, best iteration is:
[1023]	valid_0's auc: 0.642094	valid_0's gini: 0.284188

LGBMRegressor(boosting_type='gbdt', colsample_bytree=1.0, device='gpu',
       learning_rate=0.01, max_bin=63, max_depth=10, metric='auc',
       min_child_samples=10, min_child_weight=5, min_split_gain=0.0,
       n_estimators=4000, n_jobs=-1, num_leaves=31, objective='binary',
       random_state=12345, reg_alpha=0.0, reg_lambda=0.0, silent=False,
       subsample=1.0, subsample_for_bin=50000, subsample_freq=1)

## Evaluate model

In [14]:
print("Best iteration:",model.best_iteration_)
print("Best score:",model.best_score_['valid_0']['gini'])
print("Best AUC:",model.best_score_['valid_0']['auc'])

Best iteration: 1023
Best score: 0.284188479204
Best AUC: 0.642094239602

In [18]:
y_pred = model.predict(X_test)
score = gini_normalized(Y_test, y_pred)
print("Gini:", score)

Gini: 0.284188479204

# Predict and save submission

In [19]:
data = eval_set.drop('id', axis=1)
Y_eval = model.predict(data, num_iteration=model.best_iteration_)

In [20]:
#(Y_eval<0).all() 
Y_eval[Y_eval<0]

array([-0.00170513])

In [21]:
Y_eval = np.absolute(Y_eval)

In [22]:
eval_output = pd.DataFrame({'id': eval_data['id'], label: Y_eval})
print(len(eval_output))
eval_output.head()

892816

   id  target
0   0  0.0290
1   1  0.0277
2   2  0.0257
3   3  0.0150
4   4  0.0362

In [23]:
today = str(dtime.date.today())
print(today)
#eval_output.to_csv(DATA_DIR +'/' +today+'-submission.csv',index=False)
eval_output.to_csv(
            DATA_DIR + '/' + today + '-submission.csv.gz', index=False, float_format='%.5f',
            compression='gzip')

2017-10-15