# Table of Contents
 <p><div class="lev1 toc-item"><a href="#New-York-City-Taxi-Trip-Duration" data-toc-modified-id="New-York-City-Taxi-Trip-Duration-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>New York City Taxi Trip Duration</a></div><div class="lev2 toc-item"><a href="#Credit-to:" data-toc-modified-id="Credit-to:-11"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Credit to:</a></div><div class="lev1 toc-item"><a href="#Load-data" data-toc-modified-id="Load-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Load data</a></div><div class="lev3 toc-item"><a href="#Load-another-dataset-with-distance-from-OSMR" data-toc-modified-id="Load-another-dataset-with-distance-from-OSMR-201"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Load another dataset with distance from OSMR</a></div><div class="lev4 toc-item"><a href="#Check-different-between-orginal-train-data-and-OSM-data-set" data-toc-modified-id="Check-different-between-orginal-train-data-and-OSM-data-set-2011"><span class="toc-item-num">2.0.1.1&nbsp;&nbsp;</span>Check different between orginal train data and OSM data set</a></div><div class="lev3 toc-item"><a href="#Combine-train-data-and-eval-data" data-toc-modified-id="Combine-train-data-and-eval-data-202"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Combine train data and eval data</a></div><div class="lev3 toc-item"><a href="#Load-weather-data-set" data-toc-modified-id="Load-weather-data-set-203"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Load weather data set</a></div><div class="lev4 toc-item"><a href="#Convert-date-to-DateTime-obj" data-toc-modified-id="Convert-date-to-DateTime-obj-2031"><span class="toc-item-num">2.0.3.1&nbsp;&nbsp;</span>Convert date to DateTime obj</a></div><div class="lev3 toc-item"><a href="#Combine-combine_data-and-weather_data" data-toc-modified-id="Combine-combine_data-and-weather_data-204"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Combine combine_data and weather_data</a></div><div class="lev1 toc-item"><a href="#Pre-process-data" data-toc-modified-id="Pre-process-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pre-process data</a></div><div class="lev2 toc-item"><a href="#Check&amp;-Fill--NaN" data-toc-modified-id="Check&amp;-Fill--NaN-31"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Check&amp; Fill  NaN</a></div><div class="lev3 toc-item"><a href="#FillNA-for-total_distance" data-toc-modified-id="FillNA-for-total_distance-311"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>FillNA for total_distance</a></div><div class="lev3 toc-item"><a href="#FillNaN-for-number_of_streets" data-toc-modified-id="FillNaN-for-number_of_streets-312"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>FillNaN for number_of_streets</a></div><div class="lev2 toc-item"><a href="#Transform-object-data" data-toc-modified-id="Transform-object-data-32"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Transform object data</a></div><div class="lev3 toc-item"><a href="#Convert-datetime-string-to-object" data-toc-modified-id="Convert-datetime-string-to-object-321"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Convert datetime string to object</a></div><div class="lev3 toc-item"><a href="#store_and_fwd_flag" data-toc-modified-id="store_and_fwd_flag-322"><span class="toc-item-num">3.2.2&nbsp;&nbsp;</span>store_and_fwd_flag</a></div><div class="lev3 toc-item"><a href="#start_street" data-toc-modified-id="start_street-323"><span class="toc-item-num">3.2.3&nbsp;&nbsp;</span>start_street</a></div><div class="lev3 toc-item"><a href="#end_street" data-toc-modified-id="end_street-324"><span class="toc-item-num">3.2.4&nbsp;&nbsp;</span>end_street</a></div><div class="lev3 toc-item"><a href="#weather-data" data-toc-modified-id="weather-data-325"><span class="toc-item-num">3.2.5&nbsp;&nbsp;</span>weather data</a></div><div class="lev3 toc-item"><a href="#Drop-unused-cols" data-toc-modified-id="Drop-unused-cols-326"><span class="toc-item-num">3.2.6&nbsp;&nbsp;</span>Drop unused cols</a></div><div class="lev1 toc-item"><a href="#Feature-Engineering" data-toc-modified-id="Feature-Engineering-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Feature Engineering</a></div><div class="lev2 toc-item"><a href="#Turn,-left,-right" data-toc-modified-id="Turn,-left,-right-41"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Turn, left, right</a></div>

# New York City Taxi Trip Duration
- Share code and data to improve ride time predictions
- https://www.kaggle.com/c/nyc-taxi-trip-duration/data
- install: http://jupyter-contrib-nbextensions.readthedocs.io/en/latest/install.html
- install: https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator
- install GDAL: https://sandbox.idre.ucla.edu/sandbox/tutorials/installing-gdal-for-windows
- install osmnx: http://geoffboeing.com/2014/09/using-geopandas-windows/

## Credit to:
- https://www.kaggle.com/ankasor/driving-distance-using-open-street-maps-data/notebook
- https://www.kaggle.com/oscarleo/new-york-city-taxi-with-osrm
- https://www.kaggle.com/gaborfodor/from-eda-to-the-top-lb-0-368/notebook

In [1]:
# data processing
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from math import sqrt
from scipy import stats
from scipy.stats import norm
import math
from math import radians, cos, sin, asin, sqrt
from numpy import sort

# ML
# # Scikit-learn
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor, GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.model_selection import cross_val_score, train_test_split, learning_curve, validation_curve, KFold
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.feature_selection import SelectFromModel
# # XGB
from xgboost.sklearn import XGBRegressor
import xgboost as xgb
from xgboost import plot_importance
# # CatBoost
#from catboost import Pool, CatBoostRegressor, cv, CatboostIpythonWidget
# System
import datetime as dtime
from datetime import datetime
import sys
from inspect import getsourcefile
import os.path
import re
import time

# Other
from geographiclib.geodesic import Geodesic
#import osmnx as ox
#import networkx as nx

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

/usr/local/lib/python3.4/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/usr/local/lib/python3.4/dist-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

# Load data

In [2]:
pd.options.display.float_format = '{:,.4f}'.format
# Input data files are available in the DATA_DIR directory.
DATA_DIR = "data-temp"
# Load data. Download from:https://www.kaggle.com/c/nyc-taxi-trip-duration/data
train_data = pd.read_csv(DATA_DIR + "/train.csv")
eval_data =  pd.read_csv(DATA_DIR + "/test.csv")

In [3]:
print("train size:", train_data.shape, " test size:", eval_data.shape)

train size: (1458644, 11)  test size: (625134, 9)

In [4]:
train_data.head(5)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.9822,40.7679,-73.9646,40.7656,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.9804,40.7386,-73.9995,40.7312,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.9790,40.7639,-74.0053,40.7101,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.0100,40.7200,-74.0123,40.7067,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.9731,40.7932,-73.9729,40.7825,N,435

In [5]:
eval_data.head(5)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.9881,40.7320,-73.9902,40.7567,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.9642,40.6800,-73.9598,40.6554,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.9974,40.7376,-73.9862,40.7295,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.9561,40.7719,-73.9864,40.7305,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.9702,40.7615,-73.9615,40.7559,N

In [6]:
diff_cols = np.setdiff1d(train_data.columns.values, eval_data.columns.values)
diff_cols

array(['dropoff_datetime', 'trip_duration'], dtype=object)

### Load another dataset with distance from OSMR

In [7]:
# Download from:
# https://www.kaggle.com/oscarleo/new-york-city-taxi-with-osrm
train_osm = pd.read_csv(DATA_DIR + "/fastest_route_train.csv")
eval_osm = pd.read_csv(DATA_DIR + "/fastest_route_test.csv")

In [8]:
print("train_osm size:", train_osm.shape, " test osm size:", eval_osm.shape)

train_osm size: (1458643, 11)  test osm size: (625134, 11)

In [9]:
train_osm[:5]

,id,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction
0,id2085575,Center Boulevard,West 29th Street,"3,588.5000",359.8000,7,Center Boulevard|East 49th Street|2nd Avenue|E...,8.1|383.4|962.5|1423.4|640.1|171.1|0,7|42.2|85.4|118.4|87.7|19.1|0,depart|turn|turn|turn|turn|turn|arrive,left|uturn|left|right|left|right|arrive
1,id0633227,East 42nd Street,East 78th Street,"3,935.6000",358.0000,7,East 42nd Street|3rd Avenue|3rd Avenue|East 57...,435.1|1039.8|165.5|445.1|1695.5|154.5|0,64.1|83.5|14.4|35.9|137.9|22.2|0,depart|turn|fork|turn|turn|turn|arrive,right|left|slight right|right|left|right|arrive
2,id1356036,West 74th Street,Joe DiMaggio Highway,"3,468.3000",228.2000,10,West 74th Street|Amsterdam Avenue|West 79th St...,55.1|410|571.2|326.1|1635.7|24.1|90|187.1|169.1|0,15.3|38|46.7|25.1|70.8|12.3|5.8|7.5|6.7|0,depart|turn|turn|roundabout|merge|turn|turn|ne...,right|left|left|right|slight left|left|left|st...
3,id2360318,East 31st Street,Park Avenue,"2,369.6000",240.0000,5,East 31st Street|Park Avenue South|Park Avenue...,172.6|158|1996.1|42.9|0,25.3|19.8|184.9|10|0,depart|turn|fork|continue|arrive,right|right|slight left|uturn|arrive
4,id1397932,Cleveland Place,East 28th Street,"3,050.7000",415.1000,9,Cleveland Place|Lafayette Street|4th Avenue|Un...,119.1|1129|388.6|251.9|781.6|163.9|78|138.6|0,17.4|144.5|53.5|34.2|112.8|24.4|12.8|15.5|0,depart|new name|new name|new name|new name|tur...,right|slight right|straight|straight|straight|...

In [10]:
eval_osm[:5]

,id,starting_street,end_street,total_distance,total_travel_time,number_of_steps,street_for_each_step,distance_per_step,travel_time_per_step,step_maneuvers,step_direction
0,id3109230,East 29th Street,West Street,"5,225.2000",701.5000,8,East 29th Street|2nd Avenue|East 9th Street|Wa...,184.1|1581.9|314.2|137.4|2393.2|595.6|18.8|0,28|206.5|39.1|24.3|321.2|81|1.4|0,depart|turn|turn|new name|turn|turn|turn|arrive,right|left|right|straight|left|right|left|arrive
1,id2725273,7th Avenue,East 42nd Street,"2,346.9000",250.8000,7,7th Avenue|West 32nd Street|6th Avenue|West 36...,16|275.3|328.4|933.9|478.4|314.9|0,9.3|38.3|47|78.4|40.6|37.2|0,depart|turn|turn|turn|turn|turn|arrive,right|left|left|right|left|right|arrive
2,id1101610,Amsterdam Avenue,West 60th Street,"1,690.2000",183.7000,8,Amsterdam Avenue|West 70th Street|Broadway|Col...,123.2|35.5|501.5|431.4|271.9|78.7|247.9|0,13|7.5|39.9|35.8|43.3|8.5|35.7|0,depart|turn|turn|turn|turn|turn|turn|arrive,left|right|right|slight right|right|right|righ...
3,id0502191,West 75th Street,East 79th Street,"2,414.4000",229.2000,6,West 75th Street|Amsterdam Avenue|West 81st St...,34.6|495.9|545.9|973.4|364.6|0,9|41.6|39.8|108.9|29.9|0,depart|turn|turn|new name|new name|arrive,right|right|right|straight|straight|arrive
4,id0002695,7th Avenue,Park Avenue Tunnel,"2,742.1000",260.8000,6,7th Avenue|West 50th Street|Lexington Avenue|E...,66.8|1050.2|1367.7|151.9|105.5|0,11.7|82.8|137.3|17.3|11.7|0,depart|turn|turn|turn|turn|arrive,left|left|right|right|right|arrive

#### Check different between orginal train data and OSM data set

In [11]:
diff_cols = np.setdiff1d(train_osm.columns.values, train_data.columns.values)
diff_cols

array(['distance_per_street_list', 'duration_per_street_list',
       'end_street', 'number_of_streets', 'starting_street', 'street_list',
       'total_distance', 'total_duration'], dtype=object)

In [11]:
col_use =col_use = ['id', 'total_distance', 'total_travel_time',
                   'number_of_steps',
                   'starting_street', 'end_street']
train_osm_data = train_osm[col_use]
train_osm_data[:5]

,id,total_distance,total_travel_time,number_of_steps,starting_street,end_street
0,id2085575,"3,588.5000",359.8000,7,Center Boulevard,West 29th Street
1,id0633227,"3,935.6000",358.0000,7,East 42nd Street,East 78th Street
2,id1356036,"3,468.3000",228.2000,10,West 74th Street,Joe DiMaggio Highway
3,id2360318,"2,369.6000",240.0000,5,East 31st Street,Park Avenue
4,id1397932,"3,050.7000",415.1000,9,Cleveland Place,East 28th Street

In [12]:
eval_osm_data = eval_osm[col_use]
eval_osm_data[:5]

,id,total_distance,total_travel_time,number_of_steps,starting_street,end_street
0,id3109230,"5,225.2000",701.5000,8,East 29th Street,West Street
1,id2725273,"2,346.9000",250.8000,7,7th Avenue,East 42nd Street
2,id1101610,"1,690.2000",183.7000,8,Amsterdam Avenue,West 60th Street
3,id0502191,"2,414.4000",229.2000,6,West 75th Street,East 79th Street
4,id0002695,"2,742.1000",260.8000,6,7th Avenue,Park Avenue Tunnel

In [14]:
del train_osm

In [15]:
del eval_osm

### Combine train data and eval data

In [14]:
train_data = train_osm_data.join(train_data.set_index('id'), on='id')
train_data[:5]

,id,total_distance,total_travel_time,number_of_steps,starting_street,end_street,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2085575,"3,588.5000",359.8000,7,Center Boulevard,West 29th Street,2,2016-03-18 13:47:52,2016-03-18 14:25:40,5,-73.9653,40.7526,-73.9947,40.7486,N,2268
1,id0633227,"3,935.6000",358.0000,7,East 42nd Street,East 78th Street,1,2016-03-01 19:24:44,2016-03-01 19:40:36,1,-73.9790,40.7526,-73.9516,40.7709,N,952
2,id1356036,"3,468.3000",228.2000,10,West 74th Street,Joe DiMaggio Highway,2,2016-05-20 22:49:05,2016-05-20 22:54:43,1,-73.9813,40.7801,-73.9920,40.7743,N,338
3,id2360318,"2,369.6000",240.0000,5,East 31st Street,Park Avenue,2,2016-05-23 09:55:24,2016-05-23 10:05:50,1,-73.9808,40.7445,-73.9710,40.7615,N,626
4,id1397932,"3,050.7000",415.1000,9,Cleveland Place,East 28th Street,1,2016-06-02 20:01:15,2016-06-02 20:16:00,1,-73.9974,40.7212,-73.9843,40.7434,N,885

In [15]:
eval_data = eval_osm_data.join(eval_data.set_index('id'), on='id')
eval_data[:5]

,id,total_distance,total_travel_time,number_of_steps,starting_street,end_street,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3109230,"5,225.2000",701.5000,8,East 29th Street,West Street,1,2016-02-12 07:59:49,1,-73.9762,40.7409,-74.0137,40.7151,N
1,id2725273,"2,346.9000",250.8000,7,7th Avenue,East 42nd Street,2,2016-01-01 16:11:51,1,-73.9919,40.7500,-73.9711,40.7495,N
2,id1101610,"1,690.2000",183.7000,8,Amsterdam Avenue,West 60th Street,1,2016-05-18 07:53:45,1,-73.9835,40.7764,-73.9845,40.7701,N
3,id0502191,"2,414.4000",229.2000,6,West 75th Street,East 79th Street,1,2016-05-04 11:51:02,1,-73.9798,40.7805,-73.9599,40.7755,N
4,id0002695,"2,742.1000",260.8000,6,7th Avenue,Park Avenue Tunnel,1,2016-01-13 21:16:48,1,-73.9828,40.7616,-73.9812,40.7472,N

In [16]:
del train_osm_data
del eval_osm_data

In [17]:
label = 'trip_duration'
features = eval_data.columns.values
target = train_data[label]
combine_data = pd.concat([train_data[features], eval_data], keys=['train','eval'])
print("combine data:", len(combine_data))
combine_data.head(5)

combine data: 2083777

                id  total_distance  total_travel_time  number_of_steps  \
train 0  id2085575      3,588.5000           359.8000                7
      1  id0633227      3,935.6000           358.0000                7
      2  id1356036      3,468.3000           228.2000               10
      3  id2360318      2,369.6000           240.0000                5
      4  id1397932      3,050.7000           415.1000                9

          starting_street            end_street  vendor_id  \
train 0  Center Boulevard      West 29th Street          2
      1  East 42nd Street      East 78th Street          1
      2  West 74th Street  Joe DiMaggio Highway          2
      3  East 31st Street           Park Avenue          2
      4   Cleveland Place      East 28th Street          1

             pickup_datetime  passenger_count  pickup_longitude  \
train 0  2016-03-18 13:47:52                5          -73.9653
      1  2016-03-01 19:24:44                1          -73.9790
      2  2016-05-20 22:49:05                1          -73.9813
      3  2016-05-23 09:55:24                1          -73.9808
      4  2016-06-02 20:01:15                1          -73.9974

         pickup_latitude  dropoff_longitude  dropoff_latitude  \
train 0          40.7526           -73.9947           40.7486
      1          40.7526           -73.9516           40.7709
      2          40.7801           -73.9920           40.7743
      3          40.7445           -73.9710           40.7615
      4          40.7212           -73.9843           40.7434

        store_and_fwd_flag
train 0                  N
      1                  N
      2                  N
      3                  N
      4                  N

### Load weather data set

In [13]:
weather_data = pd.read_csv(DATA_DIR + "/weather_data_nyc_centralpark_2016.csv")
print(len(weather_data))
weather_data[:5]

366

,date,maximum temerature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0000,0.00,0.0,0
1,2-1-2016,40,32,36.0000,0.00,0.0,0
2,3-1-2016,45,35,40.0000,0.00,0.0,0
3,4-1-2016,36,14,25.0000,0.00,0.0,0
4,5-1-2016,29,11,20.0000,0.00,0.0,0

In [59]:
weather_data.dtypes

date                    object
maximum temerature       int64
minimum temperature      int64
average temperature    float64
precipitation           object
snow fall               object
snow depth              object
date_obj                object
dtype: object

#### Convert date to DateTime obj

In [57]:
weather_data.loc[:, 'date_obj'] = pd.to_datetime(weather_data['date'], dayfirst=True).dt.date

In [58]:
weather_data[:5]

,date,maximum temerature,minimum temperature,average temperature,precipitation,snow fall,snow depth,date_obj
0,1-1-2016,42,34,38.0000,0.00,0.0,0,2016-01-01
1,2-1-2016,40,32,36.0000,0.00,0.0,0,2016-01-02
2,3-1-2016,45,35,40.0000,0.00,0.0,0,2016-01-03
3,4-1-2016,36,14,25.0000,0.00,0.0,0,2016-01-04
4,5-1-2016,29,11,20.0000,0.00,0.0,0,2016-01-05

In [55]:
weather_data[weather_data['date_obj'] =='2016-03-18']

,date,maximum temerature,minimum temperature,average temperature,precipitation,snow fall,snow depth,date_obj
77,18-3-2016,57,42,49.5000,0.00,0.0,0,2016-03-18

### Combine combine_data and weather_data

In [48]:
combine_data.loc[:, 'date_obj'] = pd.to_datetime(combine_data['pickup_datetime'], format="%Y-%m-%d").dt.date

In [49]:
combine_data['date_obj'][:5]

train  0    2016-03-18
       1    2016-03-01
       2    2016-05-20
       3    2016-05-23
       4    2016-06-02
Name: date_obj, dtype: object

In [62]:
weather_data_2 = weather_data.set_index('date_obj')
weather_data_2[:5]

,date,maximum temerature,minimum temperature,average temperature,precipitation,snow fall,snow depth
date_obj,,,,,,,
2016-01-01,1-1-2016,42,34,38.0000,0.00,0.0,0
2016-01-02,2-1-2016,40,32,36.0000,0.00,0.0,0
2016-01-03,3-1-2016,45,35,40.0000,0.00,0.0,0
2016-01-04,4-1-2016,36,14,25.0000,0.00,0.0,0
2016-01-05,5-1-2016,29,11,20.0000,0.00,0.0,0

In [63]:
combine_data2 = combine_data.join(weather_data_2, on='date_obj')

In [64]:
combine_data2[:5]

                id  total_distance  total_travel_time  number_of_steps  \
train 0  id2085575      3,588.5000           359.8000                7
      1  id0633227      3,935.6000           358.0000                7
      2  id1356036      3,468.3000           228.2000               10
      3  id2360318      2,369.6000           240.0000                5
      4  id1397932      3,050.7000           415.1000                9

          starting_street            end_street  vendor_id  \
train 0  Center Boulevard      West 29th Street          2
      1  East 42nd Street      East 78th Street          1
      2  West 74th Street  Joe DiMaggio Highway          2
      3  East 31st Street           Park Avenue          2
      4   Cleveland Place      East 28th Street          1

             pickup_datetime  passenger_count  pickup_longitude     ...      \
train 0  2016-03-18 13:47:52                5          -73.9653     ...
      1  2016-03-01 19:24:44                1          -73.9790     ...
      2  2016-05-20 22:49:05                1          -73.9813     ...
      3  2016-05-23 09:55:24                1          -73.9808     ...
      4  2016-06-02 20:01:15                1          -73.9974     ...

         pickup_hour  pickup_minute    date_obj       date maximum temerature  \
train 0           13             47  2016-03-18  18-3-2016                 57
      1           19             24  2016-03-01   1-3-2016                 52
      2           22             49  2016-05-20  20-5-2016                 76
      3            9             55  2016-05-23  23-5-2016                 78
      4           20              1  2016-06-02   2-6-2016                 78

         minimum temperature  average temperature  precipitation  snow fall  \
train 0                   42              49.5000           0.00        0.0
      1                   39              45.5000           0.00        0.0
      2                   53              64.5000           0.00        0.0
      3                   56              67.0000           0.02        0.0
      4                   62              70.0000           0.00        0.0

         snow depth
train 0           0
      1           0
      2           0
      3           0
      4           0

[5 rows x 29 columns]

In [66]:
combine_data = combine_data2

In [20]:
del train_data
del eval_data

# Pre-process data

## Check& Fill  NaN

In [67]:
def check_null_data(data):
    #Get high percent of NaN data
    null_data = data.isnull()
    total = null_data.sum().sort_values(ascending=False)
    percent = (null_data.sum()/null_data.count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    high_percent_miss_data = missing_data[missing_data['Percent']>0]
    #print(missing_data)
    print(high_percent_miss_data)
    miss_data_cols = high_percent_miss_data.index.values
    return miss_data_cols

In [68]:
# combine data for null
check_null_data(combine_data)

Empty DataFrame
Columns: [Total, Percent]
Index: []

array([], dtype=object)

In [70]:
combine_data.dtypes

id                             object
total_distance                float64
total_travel_time             float64
number_of_steps                 int64
starting_street                object
end_street                     object
vendor_id                       int64
pickup_datetime                object
passenger_count                 int64
pickup_longitude              float64
pickup_latitude               float64
dropoff_longitude             float64
dropoff_latitude              float64
store_and_fwd_flag             object
datetime_obj           datetime64[ns]
pickup_year                     int64
pickup_month                    int64
pickup_weekday                  int64
pickup_day                      int64
pickup_hour                     int64
pickup_minute                   int64
date_obj                       object
date                           object
maximum temerature              int64
minimum temperature             int64
average temperature           float64
precipitation                  object
snow fall                      object
snow depth                     object
dtype: object

### FillNA for total_distance

In [24]:
combine_data['total_distance'].fillna(0, inplace=True)

### FillNaN for number_of_streets

In [25]:
combine_data['number_of_streets'].fillna(1, inplace=True)

## Transform object data

In [20]:
data = combine_data

### Convert datetime string to object

In [21]:
def pd_datetime(data):
    date_format = "%Y-%m-%d %H:%M:%S"
    datetime_obj = data['pickup_datetime'].apply(lambda x: datetime.strptime(x, date_format))
    return datetime_obj

In [22]:
#data['datetime_obj'] = pd_datetime(data)
data['datetime_obj'] = pd.to_datetime(data['pickup_datetime'])
data['datetime_obj'][:5]

train  0   2016-03-18 13:47:52
       1   2016-03-01 19:24:44
       2   2016-05-20 22:49:05
       3   2016-05-23 09:55:24
       4   2016-06-02 20:01:15
Name: datetime_obj, dtype: datetime64[ns]

In [23]:
data['pickup_year'] = data['datetime_obj'].dt.year
data['pickup_month'] = data['datetime_obj'].dt.month
data['pickup_weekday'] = data['datetime_obj'].dt.weekday
data['pickup_day'] = data['datetime_obj'].dt.day
data['pickup_hour'] = data['datetime_obj'].dt.hour
data['pickup_minute'] = data['datetime_obj'].dt.minute

In [24]:
data[:5]

                id  total_distance  total_travel_time  number_of_steps  \
train 0  id2085575      3,588.5000           359.8000                7
      1  id0633227      3,935.6000           358.0000                7
      2  id1356036      3,468.3000           228.2000               10
      3  id2360318      2,369.6000           240.0000                5
      4  id1397932      3,050.7000           415.1000                9

          starting_street            end_street  vendor_id  \
train 0  Center Boulevard      West 29th Street          2
      1  East 42nd Street      East 78th Street          1
      2  West 74th Street  Joe DiMaggio Highway          2
      3  East 31st Street           Park Avenue          2
      4   Cleveland Place      East 28th Street          1

             pickup_datetime  passenger_count  pickup_longitude  \
train 0  2016-03-18 13:47:52                5          -73.9653
      1  2016-03-01 19:24:44                1          -73.9790
      2  2016-05-20 22:49:05                1          -73.9813
      3  2016-05-23 09:55:24                1          -73.9808
      4  2016-06-02 20:01:15                1          -73.9974

             ...        dropoff_longitude  dropoff_latitude  \
train 0      ...                 -73.9947           40.7486
      1      ...                 -73.9516           40.7709
      2      ...                 -73.9920           40.7743
      3      ...                 -73.9710           40.7615
      4      ...                 -73.9843           40.7434

         store_and_fwd_flag        datetime_obj pickup_year  pickup_month  \
train 0                   N 2016-03-18 13:47:52        2016             3
      1                   N 2016-03-01 19:24:44        2016             3
      2                   N 2016-05-20 22:49:05        2016             5
      3                   N 2016-05-23 09:55:24        2016             5
      4                   N 2016-06-02 20:01:15        2016             6

         pickup_weekday  pickup_day  pickup_hour  pickup_minute
train 0               4          18           13             47
      1               1           1           19             24
      2               4          20           22             49
      3               0          23            9             55
      4               3           2           20              1

[5 rows x 21 columns]

In [31]:
data['pickup_month'].value_counts()

3    365886
4    359077
5    356057
2    340614
6    334760
1    327383
Name: pickup_month, dtype: int64

### store_and_fwd_flag

In [31]:
col = 'store_and_fwd_flag'
data[col].value_counts()

N    2072303
Y      11475
Name: store_and_fwd_flag, dtype: int64

In [32]:
data_dict = {'Y':1, 'N':0}
data_tf = data[col].map(data_dict)
data[col].update(data_tf)
data[:5]

                id  vendor_id      pickup_datetime  passenger_count  \
train 0  id2875421          2  2016-03-14 17:24:55                1
      1  id2377394          1  2016-06-12 00:43:35                1
      2  id3858529          2  2016-01-19 11:35:24                1
      3  id3504673          2  2016-04-06 19:32:31                1
      4  id2181028          2  2016-03-26 13:30:55                1

         pickup_longitude  pickup_latitude  dropoff_longitude  \
train 0          -73.9822          40.7679           -73.9646
      1          -73.9804          40.7386           -73.9995
      2          -73.9790          40.7639           -74.0053
      3          -74.0100          40.7200           -74.0123
      4          -73.9731          40.7932           -73.9729

         dropoff_latitude store_and_fwd_flag  total_distance  \
train 0           40.7656                  0      2,009.1000
      1           40.7312                  0      2,513.2000
      2           40.7101                  0     11,060.8000
      3           40.7067                  0      1,779.4000
      4           40.7825                  0      1,614.9000

         number_of_streets   starting_street              end_street  \
train 0             5.0000   Columbus Circle        East 65th Street
      1             6.0000        2nd Avenue  Washington Square West
      2            16.0000  West 56th Street          Beekman Street
      3             4.0000  Greenwich Street                Broadway
      4             5.0000          Broadway        West 81st Street

               datetime_obj  pickup_year  pickup_month  pickup_weekday  \
train 0 2016-03-14 17:24:55         2016             3               0
      1 2016-06-12 00:43:35         2016             6               6
      2 2016-01-19 11:35:24         2016             1               1
      3 2016-04-06 19:32:31         2016             4               2
      4 2016-03-26 13:30:55         2016             3               5

         pickup_day  pickup_hour  pickup_minute
train 0          14           17             24
      1          12            0             43
      2          19           11             35
      3           6           19             32
      4          26           13             30

### start_street

In [33]:
col = 'starting_street'
data_not_null = data[data[col].notnull()]
print(len(data_not_null))
data_not_null[:5]

2027362

                id  vendor_id      pickup_datetime  passenger_count  \
train 0  id2875421          2  2016-03-14 17:24:55                1
      1  id2377394          1  2016-06-12 00:43:35                1
      2  id3858529          2  2016-01-19 11:35:24                1
      3  id3504673          2  2016-04-06 19:32:31                1
      4  id2181028          2  2016-03-26 13:30:55                1

         pickup_longitude  pickup_latitude  dropoff_longitude  \
train 0          -73.9822          40.7679           -73.9646
      1          -73.9804          40.7386           -73.9995
      2          -73.9790          40.7639           -74.0053
      3          -74.0100          40.7200           -74.0123
      4          -73.9731          40.7932           -73.9729

         dropoff_latitude store_and_fwd_flag  total_distance  \
train 0           40.7656                  0      2,009.1000
      1           40.7312                  0      2,513.2000
      2           40.7101                  0     11,060.8000
      3           40.7067                  0      1,779.4000
      4           40.7825                  0      1,614.9000

         number_of_streets   starting_street              end_street  \
train 0             5.0000   Columbus Circle        East 65th Street
      1             6.0000        2nd Avenue  Washington Square West
      2            16.0000  West 56th Street          Beekman Street
      3             4.0000  Greenwich Street                Broadway
      4             5.0000          Broadway        West 81st Street

               datetime_obj  pickup_year  pickup_month  pickup_weekday  \
train 0 2016-03-14 17:24:55         2016             3               0
      1 2016-06-12 00:43:35         2016             6               6
      2 2016-01-19 11:35:24         2016             1               1
      3 2016-04-06 19:32:31         2016             4               2
      4 2016-03-26 13:30:55         2016             3               5

         pickup_day  pickup_hour  pickup_minute
train 0          14           17             24
      1          12            0             43
      2          19           11             35
      3           6           19             32
      4          26           13             30

In [34]:
le = LabelEncoder()
data_tf = le.fit_transform(data_not_null[col])
data_tf[:5]

array([ 774,  166, 2613, 1316,  609], dtype=int64)

In [35]:
col_tf = col + '_tf'
data_not_null.loc[:,col_tf] = data_tf

In [36]:
data[col_tf] = data_not_null[col_tf]

In [37]:
data[data[col].isnull()][:5]

                  id  vendor_id      pickup_datetime  passenger_count  \
train 18   id3552682          1  2016-06-27 09:55:13                1
      70   id3896508          2  2016-06-07 22:32:32                1
      93   id2030290          1  2016-03-31 11:33:30                3
      98   id2102594          1  2016-03-30 16:14:29                1
      102  id0105610          1  2016-02-19 20:01:24                3

           pickup_longitude  pickup_latitude  dropoff_longitude  \
train 18           -74.0040          40.7130           -73.9792
      70           -73.8634          40.7699           -73.8371
      93           -73.8643          40.7698           -73.9859
      98           -73.7898          40.6436           -73.9707
      102          -73.7897          40.6437           -73.9787

           dropoff_latitude store_and_fwd_flag  total_distance  \
train 18            40.7499                  0      4,673.9000
      70            40.7214                  0      8,171.9000
      93            40.7610                  0     16,077.1000
      98            40.6873                  0     20,236.7000
      102           40.7503                  0     27,983.1000

                  ...          starting_street        end_street  \
train 18          ...                      NaN       Park Avenue
      70          ...                      NaN         72nd Road
      93          ...                      NaN  West 48th Street
      98          ...                      NaN    Adelphi Street
      102         ...                      NaN       Park Avenue

                 datetime_obj pickup_year  pickup_month  pickup_weekday  \
train 18  2016-06-27 09:55:13        2016             6               0
      70  2016-06-07 22:32:32        2016             6               1
      93  2016-03-31 11:33:30        2016             3               3
      98  2016-03-30 16:14:29        2016             3               2
      102 2016-02-19 20:01:24        2016             2               4

           pickup_day  pickup_hour  pickup_minute  starting_street_tf
train 18           27            9             55                 nan
      70            7           22             32                 nan
      93           31           11             33                 nan
      98           30           16             14                 nan
      102          19           20              1                 nan

[5 rows x 21 columns]

### end_street

In [38]:
col = 'end_street'
data_not_null = data[data[col].notnull()]
print(len(data_not_null))
data_not_null[:5]

2043287

                id  vendor_id      pickup_datetime  passenger_count  \
train 0  id2875421          2  2016-03-14 17:24:55                1
      1  id2377394          1  2016-06-12 00:43:35                1
      2  id3858529          2  2016-01-19 11:35:24                1
      3  id3504673          2  2016-04-06 19:32:31                1
      4  id2181028          2  2016-03-26 13:30:55                1

         pickup_longitude  pickup_latitude  dropoff_longitude  \
train 0          -73.9822          40.7679           -73.9646
      1          -73.9804          40.7386           -73.9995
      2          -73.9790          40.7639           -74.0053
      3          -74.0100          40.7200           -74.0123
      4          -73.9731          40.7932           -73.9729

         dropoff_latitude store_and_fwd_flag  total_distance  \
train 0           40.7656                  0      2,009.1000
      1           40.7312                  0      2,513.2000
      2           40.7101                  0     11,060.8000
      3           40.7067                  0      1,779.4000
      4           40.7825                  0      1,614.9000

                ...           starting_street              end_street  \
train 0         ...           Columbus Circle        East 65th Street
      1         ...                2nd Avenue  Washington Square West
      2         ...          West 56th Street          Beekman Street
      3         ...          Greenwich Street                Broadway
      4         ...                  Broadway        West 81st Street

               datetime_obj pickup_year  pickup_month  pickup_weekday  \
train 0 2016-03-14 17:24:55        2016             3               0
      1 2016-06-12 00:43:35        2016             6               6
      2 2016-01-19 11:35:24        2016             1               1
      3 2016-04-06 19:32:31        2016             4               2
      4 2016-03-26 13:30:55        2016             3               5

         pickup_day  pickup_hour  pickup_minute  starting_street_tf
train 0          14           17             24            774.0000
      1          12            0             43            166.0000
      2          19           11             35          2,613.0000
      3           6           19             32          1,316.0000
      4          26           13             30            609.0000

[5 rows x 21 columns]

In [39]:
le = LabelEncoder()
data_tf = le.fit_transform(data_not_null[col])
data_tf[:5]

array([2224, 5465, 1129, 1308, 5735], dtype=int64)

In [40]:
col_tf = col + '_tf'
data_not_null.loc[:,col_tf] = data_tf

In [41]:
data[col_tf] = data_not_null[col_tf]

In [42]:
data[data[col].isnull()][:5]

                  id  vendor_id      pickup_datetime  passenger_count  \
train 20   id2070428          1  2016-02-28 02:23:02                1
      25   id0129640          2  2016-02-14 13:27:56                1
      94   id3770790          1  2016-02-13 13:12:49                1
      109  id3962434          2  2016-01-10 08:45:31                2
      137  id0659170          2  2016-03-26 13:07:08                1

           pickup_longitude  pickup_latitude  dropoff_longitude  \
train 20           -73.9804          40.7424           -73.9629
      25           -73.9566          40.7714           -73.9750
      94           -73.9922          40.7443           -74.0082
      109          -73.9893          40.7565           -74.0028
      137          -73.9687          40.7645           -73.8728

           dropoff_latitude store_and_fwd_flag  total_distance      ...        \
train 20            40.7606                  0      7,355.4000      ...
      25            40.7328                  0      5,296.1000      ...
      94            40.7488                  0      1,788.7000      ...
      109           40.7605                  0      1,496.5000      ...
      137           40.7715                  0     10,240.6000      ...

           end_street        datetime_obj pickup_year pickup_month  \
train 20          NaN 2016-02-28 02:23:02        2016            2
      25          NaN 2016-02-14 13:27:56        2016            2
      94          NaN 2016-02-13 13:12:49        2016            2
      109         NaN 2016-01-10 08:45:31        2016            1
      137         NaN 2016-03-26 13:07:08        2016            3

           pickup_weekday  pickup_day  pickup_hour  pickup_minute  \
train 20                6          28            2             23
      25                6          14           13             27
      94                5          13           13             12
      109               6          10            8             45
      137               5          26           13              7

           starting_street_tf  end_street_tf
train 20             201.0000            nan
      25             166.0000            nan
      94           2,579.0000            nan
      109          2,597.0000            nan
      137          1,905.0000            nan

[5 rows x 22 columns]

### weather data

In [73]:
data = combine_data
data['precipitation'].value_counts()

0.00    1267201
T        152520
0.01      81384
0.16      47863
0.04      47613
0.02      47265
0.05      44575
0.09      35303
0.11      27010
0.24      23662
0.06      23208
0.45      22040
0.54      13197
0.40      12600
0.53      12264
0.14      12231
0.22      12194
0.25      12171
0.61      12151
1.22      12031
0.20      11786
0.07      11719
0.30      11685
0.29      11564
0.47      11238
0.73      11179
0.18      11168
1.01      11060
0.03      11042
0.91      10756
1.80      10552
0.44      10459
0.38      10449
0.12      10364
1.65       7942
2.31       2331
Name: precipitation, dtype: int64

In [74]:
data.loc[data['precipitation']=='T'] = 0.01

In [76]:
data.loc[:, 'precipitation'] = data['precipitation'].astype(float)

In [77]:
data[:5]

                id  total_distance  total_travel_time  number_of_steps  \
train 0  id2085575      3,588.5000           359.8000           7.0000
      1  id0633227      3,935.6000           358.0000           7.0000
      2  id1356036      3,468.3000           228.2000          10.0000
      3  id2360318      2,369.6000           240.0000           5.0000
      4  id1397932      3,050.7000           415.1000           9.0000

          starting_street            end_street  vendor_id  \
train 0  Center Boulevard      West 29th Street     2.0000
      1  East 42nd Street      East 78th Street     1.0000
      2  West 74th Street  Joe DiMaggio Highway     2.0000
      3  East 31st Street           Park Avenue     2.0000
      4   Cleveland Place      East 28th Street     1.0000

             pickup_datetime  passenger_count  pickup_longitude     ...      \
train 0  2016-03-18 13:47:52           5.0000          -73.9653     ...
      1  2016-03-01 19:24:44           1.0000          -73.9790     ...
      2  2016-05-20 22:49:05           1.0000          -73.9813     ...
      3  2016-05-23 09:55:24           1.0000          -73.9808     ...
      4  2016-06-02 20:01:15           1.0000          -73.9974     ...

         pickup_hour  pickup_minute    date_obj       date maximum temerature  \
train 0      13.0000        47.0000  2016-03-18  18-3-2016            57.0000
      1      19.0000        24.0000  2016-03-01   1-3-2016            52.0000
      2      22.0000        49.0000  2016-05-20  20-5-2016            76.0000
      3       9.0000        55.0000  2016-05-23  23-5-2016            78.0000
      4      20.0000         1.0000  2016-06-02   2-6-2016            78.0000

         minimum temperature  average temperature  precipitation  snow fall  \
train 0              42.0000              49.5000         0.0000        0.0
      1              39.0000              45.5000         0.0000        0.0
      2              53.0000              64.5000         0.0000        0.0
      3              56.0000              67.0000         0.0200        0.0
      4              62.0000              70.0000         0.0000        0.0

         snow depth
train 0           0
      1           0
      2           0
      3           0
      4           0

[5 rows x 29 columns]

### Drop unused cols

In [43]:
# Drop pickup_datetime
data.drop('pickup_datetime', axis=1, inplace=True)
data.drop('datetime_obj', axis=1, inplace=True)
data.drop('starting_street', axis=1, inplace=True)
data.drop('end_street', axis=1, inplace=True)

In [ ]:
combine_data = data

# Feature Engineering

## Turn, left, right

In [82]:
data = train_osm

In [83]:
data.columns

Index(['id', 'starting_street', 'end_street', 'total_distance',
       'total_travel_time', 'number_of_steps', 'street_for_each_step',
       'distance_per_step', 'travel_time_per_step', 'step_maneuvers',
       'step_direction'],
      dtype='object')

In [88]:
data2 = data['step_maneuvers'][:5]
data2

0               depart|turn|turn|turn|turn|turn|arrive
1               depart|turn|fork|turn|turn|turn|arrive
2    depart|turn|turn|roundabout|merge|turn|turn|ne...
3                     depart|turn|fork|continue|arrive
4    depart|new name|new name|new name|new name|tur...
Name: step_maneuvers, dtype: object

In [87]:
turns = data2.apply(lambda x: x.count('turn'))
turns

0    5
1    4
2    4
3    1
4    3
Name: step_maneuvers, dtype: int64

In [89]:
data2 = data['step_direction'][:5]
data2

0              left|uturn|left|right|left|right|arrive
1      right|left|slight right|right|left|right|arrive
2    right|left|left|right|slight left|left|left|st...
3                 right|right|slight left|uturn|arrive
4    right|slight right|straight|straight|straight|...
Name: step_direction, dtype: object